.title-data {
  --shared-titles-height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;

  font-weight: bold;
  font-size: 15px;

  border-top: 2px solid lavender;
  border-bottom: 2px solid lavender;

  height: 40px;
  width: 100%;
}

.title-rank {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--shared-titles-height);
  height: var(--shared-titles-height);
}

.title-icon-and-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: var(--shared-titles-height);
  width: var(--icon-and-name-width);

  padding-left: 20px;
  box-sizing: border-box;
}

.title-coin-price {
  display: flex;
  align-items: center;
  justify-content: center;

  height: var(--shared-titles-height);
  width: var(--coin-price-width);
  margin-left: var(--shared-coin-margin-left);
}

.title-price-change {
  display: flex;
  align-items: center;
  justify-content: center;

  height: var(--shared-titles-height);
  width: var(--price-change-width);
  margin-left: var(--shared-coin-margin-left);
}

.title-coin-volume {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  height: var(--shared-titles-height);
  width: var(--coin-volume-width);
  margin-left: var(--shared-coin-margin-left);
}

.title-mkt-cap {
  display: flex;
  align-items: center;
  justify-content: center;

  height: var(--shared-titles-height);
  width: var(--mkt-cap-width);
  margin-left: var(--shared-coin-margin-left);
}

@media only screen and (min-width: 780px) {
  .title-data {
    font-size: 15px;
  }

  .title-rank {
    width: var(--coin-rank-large);
  }

  .title-icon-and-name {
    width: var(--icon-and-name-width-large);
  }

  .title-coin-price {
    width: var(--coin-price-width-large);

    margin-left: var(--shared-coin-margin-left-large);
  }

  .title-price-change {
    width: var(--coin-price-width-large);

    margin-left: var(--shared-coin-margin-left-large);
  }

  .title-coin-volume {
    width: var(--coin-volume-width-large);

    margin-left: var(--shared-coin-margin-left-large);
  }

  .title-mkt-cap {
    width: var(--mkt-cap-width-large);

    margin-left: var(--shared-coin-margin-left-large);

    padding-right: 30px;

    justify-content: flex-end;
    box-sizing: border-box;
  }
}
