.coin-data {
  --shared-height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;

  transition-duration: 0.3s;
  border-bottom: 1px solid lavender;
}

.c-light:hover {
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}

.c-dark:hover {
  background-color: #3a3a3c;
  cursor: pointer;
}

.coin-rank {
  width: var(--shared-height);
  text-align: center;
}

.icon-and-name {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: var(--icon-and-name-width);
}

.coin-icon {
  height: var(--shared-height);
  width: var(--shared-height);
}

.coin-name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--shared-height);
  width: 140px;
  font-weight: bold;
  margin-left: 10px;
}

.coin-symbol {
  display: flex;
  align-items: center;
  height: var(--shared-height);
  width: 40px;
}

.coin-price {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin-left: var(--shared-coin-margin-left);
  width: var(--coin-price-width);
  height: var(--shared-height);
}

.price-change {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin-left: var(--shared-coin-margin-left);
  height: var(--shared-height);
  width: var(--price-change-width);
}

.c-red {
  color: red;
}

.c-green {
  color: rgb(31, 173, 31);
}

.coin-volume {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  height: var(--shared-height);
  width: var(--coin-volume-width);
  margin-left: var(--shared-coin-margin-left);
}

.mkt-cap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  height: var(--shared-height);
  width: var(--mkt-cap-width);
  margin-left: var(--shared-coin-margin-left);
  margin-right: 10px;
}

@media only screen and (min-width: 780px) {
  .coin-data {
    font-size: 16px;
  }

  .coin-rank {
    width: var(--coin-rank-large);
  }

  .icon-and-name {
    width: var(--icon-and-name-width-large);
  }

  .coin-name {
    width: 210px;
  }

  .coin-symbol {
    width: 60px;
  }

  .coin-price {
    width: var(--coin-price-width-large);

    margin-left: var(--shared-coin-margin-left-large);
  }

  .price-change {
    width: var(--coin-price-width-large);

    margin-left: var(--shared-coin-margin-left-large);
  }

  .coin-volume {
    width: var(--coin-volume-width-large);

    margin-left: var(--shared-coin-margin-left-large);
  }

  .mkt-cap {
    width: var(--mkt-cap-width-large);

    margin-left: var(--shared-coin-margin-left-large);
  }
}
