.navbar-container {
  --shared-navbar-margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 50px;
  width: 100%;
  margin: 10px 0px;
}

.navbar-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 52px;
  height: 35px;
  padding: 3x;
  box-sizing: border-box;
}

.b-light {
  border: 1px solid grey;
  border-radius: 15px;
  background-color: transparent;
}

.b-light:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.b-dark {
  border: 2px solid var(--white-font);
  border-radius: 15px;
  background-color: transparent;
  color: var(--white-font);
}

.b-dark:hover {
  background-color: rgb(66, 66, 68);
  font-weight: bold;
  cursor: pointer;
}

.input {
  margin-left: var(--shared-navbar-margin);

  height: 35px;
  width: 300px;
  padding: 5px;
  font-size: 15px;

  outline: none;

  transition: color 250ms;
  transition: background-color 500ms ease-in-out;

  box-sizing: border-box;
}

.i-light {
  border: 1px solid grey;
  border-radius: 3px;
  color: rgb(59, 59, 59);
}

.i-light:focus {
  outline: 3px solid rgb(152, 211, 248);
}

.i-dark {
  border: 1px solid var(--white-font);
  border-radius: 3px;
  color: var(--white-font);
  background-color: rgb(66, 66, 68);
}

.i-dark:focus {
  outline: 2px solid var(--white-font);
}

.dark-mode-area {
  margin-left: var(--shared-navbar-margin);
  width: 200px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.back-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 70px;
  height: 35px;
  padding: 5px;
  border: 1px solid grey;
  border-radius: 10px;
  font-size: 15px;
  background-color: transparent;
  color: black;
}

.back-button:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.back-button-dark {
  border: 2px solid var(--white-font);
  color: var(--white-font);
}

.back-button-dark:hover {
  background-color: rgb(66, 66, 68);
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (min-width: 780px) {
}
