.App {
  display: flex;
  transition: background-color 500ms ease-in-out;
}

.dark {
  background-color: var(--dark-color);

  transition: background-color 500ms ease-in-out;
}

@media only screen and (min-width: 780px) {
}
